/* RESET */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;    
}

/* img {
    max-width: 100%;
} */
/* /RESET */

/* COMMON */
body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(16, 16, 16);
    font-size: 15px;
}

main {
    background-color: white;
}

footer {
    background-color: #23272A;
    color: white;
    padding-top: 50px;
}

.container {
    width: 60%;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
}
/* utility */
.button {
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 500;
}

.button.access.white {
    background-color: white;
    color: black;
}

.button.size {
    font-size: 18px;
}
  
.button.browser {
    background-color: #23272A;
    color: white;
}

.button.download {
    background-color: #7289DA;
    color: white;
}

h1, h2 {
    font-size: 50px;
}

p {
    font-size: 18px;
    line-height: 1.8em;
}

ul {
    list-style-type: none;
}
/* /utility */
/* /COMMON */

/* header-up */
.header-up {
    background-color: #255EE9;
}

.header-up .container {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 20px;
}

.header-up .container > * {
    padding: 10px;
}

header .logo, 
header .login {
  width: 20%;
}

header .login {
    text-align: right;
}
  
header .link {
    width: 60%;
    text-align: center;
}
  
header ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
  
header li {
    padding: 0 20px;
}
/* /header-up */

/* header-down */
.header-down {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 50px 0;
}
  
.box {
    width: 63%;
    margin: auto;
    padding: 80px 0;
    text-align: center;
}

.box * {
    margin: 20px 10px;
}
/* /header-down */

/* main */
main .section {
    display: flex;
    padding: 100px 0;
}

main .section:nth-child(even) {
    background-color: #F6F6F6;
}
  
main .section .container {
    display: flex;
    justify-content: center;
}

main .section img {
    padding-bottom: 100px;
}

main .section.wave {
    background-image: url(../img/wave.svg);
    background-size: 100% 100px;
    background-position: bottom;
    background-repeat: no-repeat;
}

main .section.wave-reverse {
    background-image: url(../img/wave.svg);
    background-size: 100% 100px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}
  
.section .first-article {
    width: 60%;
}
  
.section .second-article {
    width: 40%;
}

.section .second-article * {
    margin: 25px 0;
}

.section .last-article {
    width: 100%;
    margin: auto;
    text-align: center;
}

.section .last-article img {
    width: 100%;
}

.section .last-article p {
    width: 85%;
    margin: auto;
}
  
.section .last-article h2,
.section .last-article p {
    margin-top: 22px;
}

.section .last-article .download h3 {
    font-size: 25px;
    line-height: 4em;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: top center;
}
/* /main */

/* footer-up */
.footer-up .container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

footer h3,
footer h4 {
  color: #7289DA;
}
 
.large-article {
    width: 30%;
    padding-right: 20px;
}

.large-article > * {
    margin-bottom: 20px;
}

.large-article .language img {
    width: 7%;
    vertical-align: middle;
}

.large-article .social * {
    margin-right: 20px;
    font-size: 20px;
}

.menu-box {
    display: flex;
    width: 70%;
}
  
.small-articles {
    width: 25%;
}
  
.small-articles * {
    padding-bottom: 20px;
}
/* /footer-up */

/* footer-down */
.footer-end {
    width: 100%;
    margin-top: 15px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-down .container {
    border-top: 1px solid #7289DA;
}
  
.footer-end .logo,
.footer-end .button {
    padding: 5px 10px;
    font-size: 20px;
}
/* /footer-down */